@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Manrope:wght@200..800&display=swap');

* {
	margin: 0;
	padding: 0;
	text-align: justify;
	color: #454444;
}

p {
	font: 300 16px Manrope, sans-serif;
}

h1 {
	font: 500 32px "EB Garamond", serif;
	color: black;
	text-transform: uppercase;
	margin-bottom: 20px;
}

a:link {
	text-decoration: none;
	color: #454444;
}

a:visited {
	color: #454444;
}

a:active {
	color: #c1cfea;
}

/*                           */
/*           ХЕДЕР           */
/*                           */
.header {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: fixed;
	width: 100vw;
	height: 80px;
	font: 500 16px Manrope, sans-serif;
	background-color: white;
}

.container {
	box-sizing: border-box;
	width: 1520px;
}

.header_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: end;
	justify-content: space-evenly;
	align-content: center;
}

#header_list_items {
	list-style: none;
}

.logo {
	width: 35px;
	height: 50px;
}








/*                           */
/*       ГЛАВНЫЙ ЭКРАН       */
/*                           */
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;

	background: #c1cfea;
}


.company_info {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	height: 1010px;
	max-height: 1010px;
	background: url("/figure.svg");
	background-repeat: no-repeat;
}

.company_info_text {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	margin-top: 17%;
}

.image_text {
	height: 150px;
}

.skyscape_description {
	align-self: center;
	max-width: 750px;
	margin-top: 25px;
	margin-bottom: 30px;
}


/* КНОПКА СО ЗВЁЗДАМИ */
.star_button_container {
	display: flex;
	height: 150px;
	transition: transform 0.25s ease-in-out;
}

.star_button_container>*:first-child {
	align-self: flex-start;
}

.star_button_container>*:last-child {
	align-self: flex-end;
}

.button_container {
	align-self: center;
}

.search_button {
	width: 300px;
	height: 80px;
	background: #8dadec;
	border-radius: 40px;
	border: none;
}

.search_button_text {
	color: white;
	text-align: center;
	transition: transform 5s ease-in-out;
	font-weight: 700;
}

#star {
	width: 50px;
	transition: transform 5s ease-in-out;
}

/* АНИМАЦИЯ */
@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.star_button_container:hover {
	transform: scale(1.1);
}

.star_button_container:hover #star {
	animation: spin 3s;
	transition-timing-function: linear;
}

@keyframes spin_revers {
	from {
		transform: rotate(360deg);
	}

	to {
		transform: rotate(0deg);
	}
}

.star_button_container #star {
	animation: spin_revers 3s;
	transition-timing-function: linear;
}



/*                           */
/*        О КОМПАНИИ         */
/*                           */
#otstup {
	padding-top: 100px;
}

.company-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.company-info-container1 {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 20px;
	column-gap: 30px;
	width: 1520px;
	grid-template-areas: "p1 c p3"
		"p2 c p4";
}

.image-container {
	box-sizing: border-box;
	display: block;
	border: none;
	object-fit: cover;
}

#p1 {
	grid-area: p1;
}

#p2 {
	grid-area: p2;
}

#p3 {
	grid-area: p3;
}

#p4 {
	grid-area: p4;
}


.company-info-container3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 65px;
	padding-left: 65px;
	border: 3px solid #c1cfea;
	padding-top: 185px;
	grid-area: c;
}





















.main-content-container1 {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #c1cfea;
}

.main-content-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	min-width: 1519px;
	padding-top: 47px;
	padding-bottom: 44px;
}

.property-listing-card3 {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.property-listing-card2 {
	box-sizing: border-box;
	flex: 1 1 0;
	max-width: initial;
	height: 847px;
	background: url("blob:https://app.kombai.com/9f1d7757-5539-4050-9291-bc03882af2ee") 50% / cover no-repeat;
	border: none;
}

.profitable-container {
	box-sizing: border-box;
	width: 100%;
	padding-bottom: 660px;
}

.highlighted-text-block {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font: 500 24px "EB Garamond", serif;
	color: white;
	text-transform: uppercase;
	background: #ff5f5f;
}

.property-listing-card {
	box-sizing: border-box;
	width: 100%;
}

.property-listing-card1 {
	box-sizing: border-box;
	width: 100%;
	padding: 14.5px 30px 14px;
	background: white;
}

.apartment-details-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.property-details-heading {
	flex: 0 0 auto;
	padding: 0;
	margin: 0;
	font: 500 24px "EB Garamond", serif;
	color: black;
}

.elegant-text {
	font: 500 24px "EB Garamond", serif;
}

.info-box {
	flex: 0 0 auto;
	padding: 0;
	margin: 0;
	margin-left: 19px;
	color: #6c6c6c;
	text-align: left;
}

.elegant-text1 {
	font: 500 24px "EB Garamond", serif;
	color: black;
}

.price-per-square-meter {
	font: 500 20px "EB Garamond", serif;
	color: #6c6c6c;
}

.property-price-heading {
	padding: 0;
	margin: 0;
	margin-top: 4.5px;
	font: 500 24px "EB Garamond", serif;
	color: black;
}

.location-description-text-style {
	padding: 0;
	margin: 0;
	margin-top: 4.5px;
	font: 500 24px "EB Garamond", serif;
	color: #6c6c6c;
}

.nested-content-container {
	flex: 1 1 0;
	margin-left: 20px;
}

.property-listing-card4 {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}

.property-card1 {
	box-sizing: border-box;
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
	max-width: initial;
	height: 412px;
	padding-top: 326px;
	background: url("blob:https://app.kombai.com/3d61837a-a8ea-41bb-9f39-171d3aae8aba") 50% / cover no-repeat;
	border: none;
}

.property-card {
	box-sizing: border-box;
	flex: 0 0 auto;
	padding: 11.5px 14px 7.75px;
	background: white;
}

.property-description-paragraph {
	padding: 0;
	margin: 0;
	font: 500 16px "EB Garamond", serif;
	color: black;
}

.elegant-text2 {
	font: 500 16px "EB Garamond", serif;
}

.price-text-bold {
	padding: 0;
	margin: 0;
	margin-top: 2.75px;
	font: 500 16px "EB Garamond", serif;
	color: black;
}

.property-description1 {
	padding: 0;
	margin: 0;
	margin-top: 7.5px;
	font: 500 16px "EB Garamond", serif;
	color: #6c6c6c;
}

.property-card-container1 {
	box-sizing: border-box;
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
	max-width: initial;
	height: 412px;
	padding-top: 326px;
	margin-left: 20px;
	background: url("blob:https://app.kombai.com/154b2905-288c-439a-86dd-9894ea302d31") 50% / cover no-repeat;
	border: none;
}

.apartment-details-text-style1 {
	padding: 0;
	margin: 0;
	font: 500 16px "EB Garamond", serif;
	white-space: pre-wrap;
}

.apartment-details-text-style {
	margin-top: 2.77px;
	color: black;
}

.apartment-details-text-style1:first-child {
	margin-top: 0px;
}

.apartment-details-text-style1:last-child {
	color: #6c6c6c;
}

.property-listing-card-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	margin-top: 23.5px;
}

.property-card-container {
	box-sizing: border-box;
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
	max-width: initial;
	height: 412px;
	padding-top: 325px;
	background: url("blob:https://app.kombai.com/13068bb4-5bb6-4a88-86a8-4e5658a2e4d6") 50% / cover no-repeat;
	border: none;
}

.apartment-details-paragraph {
	font: 500 16px "EB Garamond", serif;
	text-align: left;
}

.price-info {
	padding: 0;
	margin: 0;
	margin-top: 3.25px;
	font: 500 16px "EB Garamond", serif;
	color: black;
}

.property-listing-card5 {
	box-sizing: border-box;
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
	max-width: initial;
	height: 412px;
	padding-top: 325px;
	margin-left: 20px;
	background: url("blob:https://app.kombai.com/5af6d075-d189-4bb6-b5e7-771abaa78e21") 50% / cover no-repeat;
	border: none;
}

.property-description {
	padding: 0;
	margin: 0;
	margin-top: 7px;
	font: 500 16px "EB Garamond", serif;
	color: #6c6c6c;
}

.property-card-container2 {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	align-items: flex-start;
	align-self: center;
	justify-content: flex-start;
	margin-top: 50px;
}

.detailed-info-container {
	box-sizing: border-box;
	display: block;
	width: 74px;
	max-width: initial;
	height: 70px;
}

.detailed-info-container1 {
	flex: 0 0 auto;
	align-self: center;
	padding-top: 42px;
	padding-bottom: 34px;
	margin-left: -1px;
}

.detailed-info-container3 {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	width: 422px;
	height: 100px;
	padding-right: 34px;
	padding-left: 39px;
	background: white;
	border-radius: 40px;
}

.detail-heading {
	flex: 0 0 auto;
	padding: 0;
	margin: 0;
	font: 500 32px Roboto, sans-serif;
	color: #1e1e1e;
	text-align: center;
}

.detailed-info-container2 {
	box-sizing: border-box;
	display: block;
	width: 74px;
	max-width: initial;
	height: 70px;
	margin-left: 1px;
}



/* Подписка */
.sub {
	background-image: url(/form.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 650px;
	width: auto;
	margin: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	width: 950px;
	height: 440px;
	background-color: #FFFFFF;
	border-radius: 120px 0 120px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 25px;
}

h1 {
	font-family: EB;
	text-transform: uppercase;
	line-height: 42px;
	font-size: 32px;
	text-align: center;
	
}

p {
	font-family: Manrope;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	text-align: center;
}

.subscribe {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 20px;

}

.email {
	box-sizing: border-box;
	width: 532.18px;
	height: 57.83px;
	border: 5px solid rgb(142, 172, 205);
	border-radius: 40px;
	color: rgb(142, 172, 205);
	font-family: Manrope;
	font-size: 20px;
	font-weight: 800;
	line-height: 64px;
	padding-left: 10px;
	outline: none;
}


::placeholder {
	color: rgb(142, 172, 205);
	font-family: Manrope;
	font-size: 20px;
	font-weight: 800;
	line-height: 64px;
  }


button {
	width: 198.09px;
	height: 57.83px;
	border: 0px;
	border-radius: 40px;
	background: rgb(142, 172, 205);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	color: rgb(255, 255, 255);
	font-family: Manrope;
	font-size: 16px;
	font-weight: 800;
	line-height: 64px;
	transition: box-shadow 200ms linear;
}


button:hover{
	box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, 0.15), 0 .4em .5em -.4em rgba(0, 0, 0, 0.4);
}




/* ФУТЕР */
.footer {
	height: 300px;
	display: flex;
	align-items: center;
	background-color: #C1CFEA;
	color: #000000;
	margin: 0;
}

.footer-left {
	margin: 5px;
	width: 50%;
	display: flex;
	align-items: center;
}

.footer-logo {
	width: 600px;
	height: auto;
}

.footer-content {

	font-family: EB Garamond;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

}

.footer-center,
.footer-links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: EB Garamond;
	width: 360px;
	height: 270px;
	background-color: #FFFFFF;
	/* padding: 20px; */

	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.footer-center {
	margin-right: 20px;

}



.contact-info {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #000000;
}


.social-icons {
	display: flex;
	justify-content: center;
	gap: 15px;
	margin-top: 10px;
}

.icon {
	width: 50px;
	height: 50px;
	display: inline-block;
	background-color: #ffffff;
	border-radius: 50%;
	background-size: cover;
	transition: box-shadow 200ms linear;
}


.icon:hover{
	box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, 0.15), 0 .4em .5em -.4em rgba(0, 0, 0, 0.4);
}

.telegram-icon {
	background-image: url('/footer/tg.svg');
}

.vk-icon {
	background-image: url('/footer/vk.svg');
}

.another-icon {
	background-image: url('/footer/dzen.svg');
}




.footer-links ul {

	list-style: none;

	margin: 0;
}

.footer-links ul li {
	margin: 10px 0;
}

.footer-links ul li a {
	color: #000000;
	text-decoration: none;
	font-size: 20px;
	transition: box-shadow 200ms linear;

}

.footer-links ul li a:hover {
	text-decoration: none;
	box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, 0.15), 0 .4em .5em -.4em rgba(0, 0, 0, 0.4);
}